#gameCanvas {
    border: 1px solid black;
    display:block;
    /*margin: auto auto;*/
}

#scoreBoard {
      font-size: 24px;
      color: black;
      font-weight: bold;
}

body {
    margin:0;
    display: flex;
    justify-content:center;
    align-items:center;
    height:100dvh;
    background-color: #000; /*余白を　黒色*/
    overflow:hidden;    /*はみ出し禁止*/
    /*flex-direction: column;*/
}

canvas {
    background-color: white;
    height: 100%;
    width: auto;
}