#gameCanvas {
    border: 1px solid black;
    display:block;
    /*margin: auto auto;*/
}

#scoreBoard {
      font-size: 24px;
      color: black;
      font-weight: bold;
}

body {
    height:100dvh;
    margin:0;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}